{{- if ne .chezmoi.os "windows" -}}
# btop config
# See: https://github.com/aristocratos/btop#configurability

# Theme
color_theme = "tokyo-storm"

# Essential settings
truecolor = True
theme_background = True
update_ms = 2000
{{- end -}}
