[Unit]
Description=WezTerm Mux Server

[Service]
ExecStart=%h/.local/bin/wezterm.AppImage start-mux-server
Restart=on-failure

[Install]
WantedBy=default.target
